[github]
	user = dschobel
	token = SECRET_TOKEN
[user]
	name = Daniel Schobel
	email = dschobel@gmail.com
[alias]
	ci = commit
	co = checkout
	br = branch
	prune-all = !git remote | xargs -n 1 git remote prune
	st = status
	whois = "!sh -c 'git log -i -1 --pretty=\"format:%an <%ae>\n\" --author=\"$1\"' -"
	unstage = reset HEAD --
	last = log -1 HEAD
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[merge]
	tool = opendiff
[core]
	excludesfile = /Users/daniel/.global_ignore
	editor = vim
[help]
	format = web
[credential]
	helper = osxkeychain
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
